#result {
    font-size: 16px;
    color: red;
    font-weight: normal;
    margin-left: 10px;
    
  }
  .calculate-btn {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    border: none;
    color: white; 
    
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
    margin-left: 10px;
}

.height {
    font-size: 16px;
    font-weight: bold;
    color:darkgoldenrod;
    margin-left: 10px;
  }
#height{
    font-size: 13px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}
#weight{
    font-size: 13px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
  
}
.weight{
    font-size: 16px;
    font-weight: bold;
    color: darkgoldenrod;
    margin-left: 10px;
}
.BMICalculator{
color: hotpink;
margin-left: 10px;
}
.k{
  border: 1px solid red; 
  width: 270px;
}